@model DemoSite.Models.RegisterModel
@using ContentModels = Umbraco.Web.PublishedModels;

@{ 
    if (TempData["error"] != null)
    {
        @:<h1>@(TempData["error"])</h1>
    }
}
@using (Html.BeginUmbracoForm<DemoSite.Controllers.Surface.MembershipSurfaceController>("Register", FormMethod.Post))
{
<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            @Html.LabelFor(model => model.Name)<br />
            @Html.TextBoxFor(model => model.Name, new { placeholder = "Your Name" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="col-lg-12" style="margin-top:20px;">
            @Html.LabelFor(model => model.Email)<br />
            @Html.TextBoxFor(model => model.Email, new { placeholder = "name@company.com" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="col-lg-12" style="margin-top:20px;">
            @Html.LabelFor(model => model.Password)<br />
            @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="col-lg-12" style="margin-top:20px;">
            @Html.LabelFor(model => model.InterestedIn)<br />
            @Html.TextBoxFor(model => model.InterestedIn, new { placeholder = "A few hobbies of yours" })
            @Html.ValidationMessageFor(model => model.InterestedIn)
        </div>
        <div class="col-lg-12" style="margin-top:20px; margin-bottom:40px;">
            <button type="submit">Submit</button>
        </div>

    </div>
</div>
}